<div class="flex justify-end mb-4">
  <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" (click)="openModal()">Tạo mới
  </button>
</div>
<table class="min-w-full  divide-y divide-gray-200">
  <thead>
  <tr>
    <th class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Name</th>
    <th class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Url</th>
    <th class="px-6 py-3 bg-gray-50 text-right text-xs font-medium text-gray-500 uppercase tracking-wider">Actions</th>
  </tr>
  </thead>
  <app-category-tree [categories]="tree" class="contents w-full"></app-category-tree>
</table>
